.task-info-boxs {
  padding: 10px;
  background-color: #999;
  width: 100%;
  border-radius: 10px;
}
.infoTask {
  display: grid;
  gap: 5px;

  .task-text {
    font-weight: bold;
    text-align: center;
  }
  .task-category {
    font-weight: bold;
    text-align: center;
  }
  .date-task,.time-task {
    display: flex;
    justify-content: space-around;
    @media (max-width: 767px) {
      & {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .state-task {
    text-align: center;
    font-weight: bold;
  }
}
