header {
  padding: 5px;
  background-color: #023047;
  position: relative;
  z-index: 200;
}
header .logo {
  color: #61dbfb;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
nav {
  display: flex;
  width: fit-content;
  margin: 10px auto;
  gap: 20px;
  a {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 3px 5px;
    border-radius: 4px;
    transition: 0.3s;
    &.active {
      background-color: #0b4725;
      box-shadow: 0px 0px 6px 0px #4caf50;
    }
  }
}
